
@{
    Layout = null;
}



    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>LudoLayout</title>
        <link href="~/css/reset.css" rel="stylesheet" />
        <link href="~/css/LudoStyle.css" rel="stylesheet" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>
